.product{
    border: 1px solid;
    padding: 15px;
    display: flex;
}

.product .image-div{
    width: 15%;
}

.product .info-div{
    width: 85%;
}
.body-products{
    padding:0px 35px;
}

.body-products .checkout{
    text-align: center;
}